@import "@/assets/scss/_colors.scss";

.landing {
    &-header {
        margin: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-image {
            width: 130px;
        }
    }

    &-nav {
        z-index: 1;
        &-items {
            text-decoration: none;
            color: $white;
            font-size: 20px;
            padding: 0 45px;

            &.selected {
                background-color: #fff;
                border-radius: 30px;
                padding: 5px 20px;
                color: $predominant;
                font-weight: bold;
            }
        }
    }

    &-section {
        display: flex;
    }

    &-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 50px;
        top: 200px;
        position: absolute;

        &-line {
            width: 3px;
            height: 60px;
            margin: 10px 0;
            background-color: $predominant;
        }
        &-icon {
            margin: 2px 0;
            font-size: 25px;
            color: $predominant;
        }
    }

    &-brand {
        display: flex;
        flex-direction: column;
        width: 38%;
        justify-content: flex-start;
        padding: 100px;
        margin-left: 100px;
        height: 60vh;
        &-button {
            display: flex;
            justify-content: center;
        }
        &-title {
            font-size: 50px;
        }
        &-text {
            font-size: 18px;
            padding: 25px 0;
        }
    }

    &-container {
        background-color: $predominant;
        position: absolute;
        top: 0;
        right: 0;
        width: 49%;
        height: 85vh;

        &-image {
            width: 550px;
            position: relative;
            left: -130px;
            top: 100px;
        }

        &-burguer {
            position: absolute;
            // right:-40px;
            right: 0;
            bottom: 50px;
            color: $secondary;
            font-size: 115px;
            font-weight: bold;
            transform: rotate(180deg);
            writing-mode: vertical-lr;
            text-orientation: mixed;
        }
    }

    &-promotion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
        background: url("../../assets/images/background.png") no-repeat;
        background-position: bottom left;
        &-title {
            z-index: 1;
            text-align: center;
            font-size: 35px;
            color: $secondary;
            margin-bottom: 20px;
        }
        &-grid {
            margin: 0 10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &-button {
            margin-right: 10%;
            display: flex;
            justify-content: flex-end;
        }
    }

    &-funcionar {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $predominant;
        padding: 30px;
        &-title {
            color: $secondary;
            font-size: 40px;
            font-weight: bold;
        }

        &-passos {
            width: 100%;
            background-color: #f8f8f8;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            padding: 20px;

            &-etapas {
                display: flex;
                align-items: center;
                width: 100%;
                position: relative;

                &.bottom::after {
                    content: "";
                    min-width: 120px;
                    height: 25px;
                    margin-top: auto;
                    z-index: 1;
                    background: url("../../assets/images/seta2.svg") no-repeat;
                    transform: rotatey(180deg);
                }

                &.top::after {
                    content: "";
                    min-width: 120px;
                    height: 25px;
                    margin-bottom: auto;
                    z-index: 1;
                    background: url("../../assets/images/seta2.svg") no-repeat;
                    background-repeat: no-repeat;
                    transform: rotate(180deg);
                }

                &-numero {
                    color: $predominant;
                    font-size: 30px;
                    font-weight: bold;
                }
                &-texto {
                    display: flex;
                    flex-direction: column;
                    margin-left: 5px;
                    &-title {
                        color: $predominant;
                        font-size: 16px;
                        font-weight: bold;
                    }
                    &-informacao {
                        color: #766c6c;
                        font-size: 12px;
                    }
                }
                &-final {
                    margin-left: 5px;
                    color: $predominant;
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
    }

    &-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 40px;
        flex-direction: column;

        &-section {
            display: flex;
            justify-content: space-between;
            &-container {
                width: fit-content;
                display: flex;
                position: relative;
                height: fit-content;
                margin-top: 100px;

                &-servico {
                    background: $predominant;
                    display: flex;
                    height: fit-content;
                    margin-top: 20px;
                    padding: 30px 5px;

                    &-title {
                        color: $secondary;
                        font-size: 40px;
                        font-weight: bold;
                        transform: rotate(180deg);
                        writing-mode: vertical-lr;
                        text-orientation: mixed;
                    }
                }

                &-imagem {
                    height: 620px;
                    margin-bottom: 50px;
                }

                &-card {
                    margin-top: auto;
                    margin-left: -60px;
                }

                &.reverse {
                    flex-direction: row-reverse;
                    margin-top: 0;

                    .landing-menu-section-container {
                        background-color: red;
                        &-servico {
                            margin-top: auto;
                            margin-bottom: 20px;

                            &-title {
                                transform: rotate(0deg);
                            }
                        }

                        &-imagem {
                            margin-bottom: 0;
                        }

                        &-card {
                            margin-top: 50px;
                            margin-left: 100px;
                            margin-right: -100px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1710px) {
    &-servicos {
        padding: 0;
        flex-direction: column;

        &-section {
            &-container {
                &-servico {
                    &-title {
                        font-size: 30px;
                    }
                }

                &-imagem {
                    height: 500px;
                }

                &-card {
                    width: 350px;
                    padding: 15px;

                    &-title {
                        font-size: 20px;
                    }

                    &-texto {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .landing {
        &-funcionar {
            margin-top: 100px;
            background-color: transparent;
            padding: 0;
            &-title {
                background-color: $predominant;
                width: 100%;
                font-size: 28px;
                text-align: center;
                padding: 10px;
            }

            &-passos {
                flex-direction: column;
                height: auto;

                &-etapas {
                    margin-bottom: 30px;

                    &.bottom::after {
                        content: "";
                        min-width: 60px;
                        height: 25px;
                        margin: auto 0 0 auto;
                        z-index: 1;
                        transform: rotate(270deg);
                    }

                    &.top::after {
                        content: "";
                        min-width: 60px;
                        height: 25px;
                        margin: auto 0 0 auto;
                        z-index: 1;
                        transform: rotate(270deg);
                    }
                    &-texto {
                        &-title {
                            font-size: 20px;
                        }
                        &-informacao {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1310px) {
    .landing {
        &-menu {
            &-section {
                flex-direction: column;
                &-container {
                    &.reverse {
                        flex-direction: row-reverse;
                        margin-top: 80px;
                        margin-left: auto;
                    }
                }
            }
        }
        &-menu {
            &-container {
                flex-direction: column;
                &-container {
                    &.reverse {
                        flex-direction: row-reverse;
                        margin-top: 80px;
                        margin-left: auto;
                    }
                }
            }
        }
        &-brand {
            padding: 90px;
            margin-left: 40px;
            &-title {
                font-size: 45px;
            }
            &-text {
                font-size: 16px;
            }
        }
        &-promotion {
            margin: -27px 10px;
        }
        &-container {
            height: 78vh;
            &-image {
                width: 450px;
            }
            &-burguer {
                font-size: 90px;
                // right:-30px;
            }
        }
    }
}
@media screen and (max-width: 990px) {
    .landing {
        &-social {
            left: 20px;
            top: 180px;
        }
        &-promotion {
            margin: -120px 10px;
        }
        &-brand {
            padding: 90px 0 0 90px;
            margin-left: 0;
            &-title {
                font-size: 40px;
            }
            &-text {
                font-size: 12px;
            }
            &-button {
                width: 100%;
            }
        }
        &-container {
            height: 60vh;
            &-image {
                width: 350px;
                left: -70px;
            }
            &-burguer {
                font-size: 70px;
                // right:-20px;
            }
        }
    }
}
@media screen and (max-width: 765px) {
    .landing {
        &-social {
            left: 20px;
            top: 180px;
        }
        &-brand {
            padding: 90px 0 0 90px;
            margin-left: 0;
            width: 50%;
            &-title {
                font-size: 35px;
            }
            &-text {
                font-size: 12px;
            }
            &-button {
                width: 100%;
            }
        }
        &-container {
            height: 60vh;
            width: 40%;
            &-image {
                width: 300px;
                left: -70px;
                top: 130px;
            }
        }

        &-menu {
            &-section {
                &-container {
                    margin-top: auto;

                    &-servico {
                        margin-top: 100px;
                        padding: 60px 5px;

                        &-title {
                            font-size: 30px;
                        }
                    }

                    &-imagem {
                        height: 320px;
                    }

                    &-card {
                        width: 100%;
                        padding: 15px;
                        margin: 290px 10px 0 -200px;

                        &-icone {
                            margin-bottom: 0;
                            font-size: 40px;
                        }

                        &-title {
                            font-size: 20px;
                            margin-bottom: 10px;
                        }

                        &-texto {
                            font-size: 12px;
                            color: #766c6c;
                            margin-bottom: 10px;
                        }

                        &-botao {
                            font-size: 12px;

                            &-icone {
                                margin-left: 10px;
                            }
                        }
                    }

                    &.reverse {
                        margin-top: 80px;
                        margin-left: auto;

                        .landing-menu-section-container {
                            &-servico {
                                margin-top: 30px;
                                margin-bottom: auto;
                            }

                            &-card {
                                margin-top: 250px;
                                margin-left: 10px;
                                margin-right: -200px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .landing {
        &-nav {
            display: none;
        }
        &-header {
            background-color: $secondary;
            margin: 0;
        }
        &-section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 350px;
        }
        &-brand {
            width: 100%;
            padding: 90px 0 0 90px;
            &-title {
                font-size: 45px;
            }
            &-text {
                font-size: 18px;
            }
            &-button {
                width: calc(100% - 90px);
            }
        }
        &-container {
            display: none;
        }
        &-promotion {
            margin: 0 10px;
            &-title {
                font-size: 30px;
            }
        }
    }
}
